<%- include('common/archive/header')  %>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Latest post as featured blog post-->
        <% var latestPost = getAllCachedPosts[0] %>
        <div class="card mb-4">
          <a href="<%- latestPost.url %>">
            <img width="850px" height="350px" class="card-img-top" src="<%- thumbnail(latestPost) %>"
              alt="<%- latestPost.title %>" />
          </a>
          <div class="card-body">
            <div class="small text-muted"><%- date_format(latestPost.date, 'LL') %></div>
            <h2 class="card-title"><%- latestPost.title %></h2>
            <p class="card-text"><%- excerpt(latestPost) %></p>
            <a class="btn btn-primary" href="<%- latestPost.url %>">Read more →</a>
          </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <% var allposts = getAllCachedPosts %>
        <div class="row">
          <% for( let index = 1; index < 5; index++ ) { %>
          <% var post = allposts[index] %>
          <div class="col-md-6">
            <div class="card mb-4" style="height: 35em;">
              <a href="<%- post.url %>"><img class="card-img-top" src="<%- thumbnail(post) %>" alt="<%- post.title %>"
                  style="height: 15em;" /></a>
              <div class="card-body">
                <div class="small text-muted"><%- date_format(post.date, 'LL') %></div>
                <h2 class="card-title h4"><%- post.title %></h2>
                <p class="card-text"><%- excerpt(post) %></p>
                <a class="btn btn-primary mb-2" href="<%- post.url %>">Read more →</a>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <!-- Pagination-->
        <nav aria-label="Pagination">
          <hr class="my-0" />
          <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="#!">15</a></li>
            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
          </ul>
        </nav>
      </div>
      <%- include('common/aside') %>
    </div>
  </div>