<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="<%- author_name(page) %>" />
  <% if (page.type == 'post') { %>
  <title><%- page.title %> - <%- config.webtitle|config.title %></title>
  <% } else { %>
  <title><%- config.title %></title>
  <% } %>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="<%- config.favicon||'/assets/favicon.ico' %>" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
  <%- include('common/navbar.ejs') %>
  <% if (page.type == 'post'||page.type == 'page') { %>
  <%- include('page') %>
  <% } else { %>
  <%- include('archive') %>
  <% } %>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <%- config.title %> <%- date_format(new Date(), 'YYYY') %>
      </p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/js/scripts.js"></script>
</body>

</html>