<!-- Page content-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article>
        <%- include('common/page/header')  %>
        <!-- Post content-->
        <section class="mb-5">
          <%- page.body %>

          <!-- Preview image figure-->
          <figure class="mb-4">
            <img class="img-fluid rounded" width="900px" height="400px" src="<%- thumbnail(page) %>"
              alt="<%- page.title %>" />
          </figure>
        </section>
      </article>

      <% if (config.adsense.enable && config.adsense.multiplex_ads.length) { %>
      <section class="mb-5">
        <div class="card bg-light">
          <%- config.adsense.multiplex_ads[0] %>
        </div>
      </section>
      <% } %>

      <!-- Comments section-->
      <section class="mb-5">
        <div class="card bg-light">
          <div class="card-body">
            <%- include('common/disqus') %>
          </div>
        </div>
      </section>
    </div>

    <%- include('common/aside') %>
  </div>
</div>