<!DOCTYPE html>
<html lang="<%- page.lang || 'en' %>">

<head>
    <meta charset="utf-8" />

    <link rel="alternate" href="<%- url_for('/en') %>" hreflang="en" />
    <link rel="alternate" href="<%- url_for('/id') %>" hreflang="id" />

    <include expiration="7d" path="*.css"></include>
		<include expiration="7d" path="*.js"></include>
		<include expiration="3d" path="*.gif"></include>
		<include expiration="3d" path="*.jpeg"></include>
		<include expiration="3d" path="*.jpg"></include>
		<include expiration="3d" path="*.png"></include>
		<!-- [ Prefetch DNS for external assets ]-->
		<link crossorigin="" href="https://static.xx.fbcdn.net" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://cdnjs.cloudflare.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://www.blogger.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://fonts.googleapis.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://resources.blogblog.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://www.google-analytics.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://www.gstatic.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://www.googletagservices.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://rawcdn.githack.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://cdn.jsdelivr.net" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://tpc.googlesyndication.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://www.googletagmanager.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://1.bp.blogspot.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://2.bp.blogspot.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://3.bp.blogspot.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://4.bp.blogspot.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://cdn.statically.io" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://pagead2.googlesyndication.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://googleads.g.doubleclick.net" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://adservice.google.co.id/" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://adservice.google.com/" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://www.youtube.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://lh3.googleusercontent.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://img.youtube.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://raw.githubusercontent.com" rel="preconnect dns-prefetch" />
    <link crossorigin="" href="https://raw.githack.com" rel="preconnect dns-prefetch" />
		<link crossorigin="" href="https://i.ytimg.com" rel="preconnect dns-prefetch" />

    <%- partial('pwa/index') %>
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= page.webtitle || config.title %></title>
    <% if (theme.plugins.bing_site_verification) { %>
    <meta name="msvalidate.01" content="<%- theme.plugins.bing_site_verification %>" />
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (page.tags) {
        var keywords = [];
        if (page.tags.data.length) {
            for (var i in page.tags.data) {
                keywords.push(page.tags.data[i].name);
            }
        }
        if (page.keywords && page.keywords.length) {
            for (var i in page.keywords) {
                keywords.push(page.keywords);
            }
        }
        if (keywords.length) {
            keywords = keywords.filter(function(item, pos) {
                return keywords.indexOf(item) == pos && item.trim().length;
            });
        }
    %>
    <meta name="keywords" content="<%= keywords.join(',') %>" />
    <% } %>
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        author: get_author_name(page, config)
    }) %>
    <%- meta(page) %>

    <% if (theme.customize && theme.customize.social_links && theme.customize.social_links.rss) { %>
    <link rel="alternate" href="<%- theme.customize.social_links.rss %>" title="<%= config.title %>"
        type="application/atom+xml" />
    <% } %>

    <% if (theme.customize.favicon) { %>
    <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>

    <%- css('libs/font-awesome/css/font-awesome.min') %>
    <%- css('libs/titillium-web/styles') %>
    <%- css('libs/source-code-pro/styles') %>

    <%- css('css/style') %>

    <%- js('libs/jquery/3.5.0/jquery.min') %>
    <%- partial('plugin/scripts', { isHead: true }) %>
</head>
