<!DOCTYPE HTML>
<!--
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title><%- page.title %> | <%- page.webtitle||config.title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="<%- excerpt(page) %>" />
	<meta name="keywords" content="" />
	<%- include('partial/cache', {page:page,config:config,theme:theme}) %>
	<%- include('partial/seo', {page:page,config:config,theme:theme}) %>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
	<!--[if lte IE 8]><script src="/js/html5shiv.js"></script><![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-panels.min.js"></script>
	<script src="/js/init.js?c=1"></script>
	<noscript>
		<link rel="stylesheet" href="/css/skel-noscript.css?c=1" />
		<link rel="stylesheet" href="/css/style.css?c=1" />
		<link rel="stylesheet" href="/css/style-desktop.css?c=1" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
	<style>
		div#header {
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%- thumbnail(page) %>'), no-repeat;
			color: white;
			background-size: cover;
		}
	</style>
</head>

<body class="no-sidebar">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#"><%- config.title %></a></h1>
				<span><%- page.title %> by <%- author_name(page)||author_name(config) %></span>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/">Homepage</a></li>
					<% tags(page).forEach(tag => { %>
						<li><a href="<%- tag.url %>"><%- tag.name %></a></li>
					<% }) %>
					<!--
						<li><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li class="active"><a href="no-sidebar.html">No Sidebar</a></li>
					-->
				</ul>
			</nav>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="12u skel-cell-important">
					<section>
						<!--
							<header>
								<h2><%- page.title %></h2>
								<span class="byline"><%- excerpt(page) %></span>
							</header>
							<a href="#" class="image full"><img src="<%- thumbnail(page) %>" alt="<%- page.title %>" /></a>
							-->

						<%- page.content %>
					</section>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->
	<div id="featured">
		<div class="container">
			<div class="row d-none">
				<div class="4u">
					<h2>Aenean elementum facilisis</h2>
					<a href="#" class="image full"><img src="/images/pic01.jpg" alt="" /></a>
					<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in
						augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
					<p><a href="#" class="button">More Details</a></p>
				</div>
				<div class="4u">
					<h2>Fusce ultrices fringilla</h2>
					<a href="#" class="image full"><img src="/images/pic02.jpg" alt="" /></a>
					<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in
						augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
					<p><a href="#" class="button">More Details</a></p>
				</div>
				<div class="4u">
					<h2>Etiam rhoncus volutpat erat</h2>
					<a href="#" class="image full"><img src="/images/pic03.jpg" alt="" /></a>
					<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in
						augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
					<p><a href="#" class="button">More Details</a></p>
				</div>
			</div>

			<div id="comment">
				<div id="disqus_thread"></div>
				<script>
					var disqus_shortname = "<%- theme.disqus_shortname %>";
					var disqus_url = "<%- page.url %>";
					var disqus_identifier = new URL(disqus_url).pathname;
					!(function () {
						var e = document.createElement("script");
						(e.type = "text/javascript"),
							(e.async = !0),
							(e.src = "//" + disqus_shortname + ".disqus.com/embed.js"),
							(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(e);
					})();
				</script>
				<noscript>
					Please enable JavaScript to view the
					<a href="https://disqus.com/?ref_noscript" rel="nofollow">
						comments powered by Disqus.
					</a>
				</noscript>
			</div>
		</div>
	</div>



	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="4u">
					<section>
						<h2>Latest Posts</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Ultrices fringilla</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Aenean elementum</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<%- config.title %> © <%- date_format(new Date(), 'YYYY') %> <%- author_name(page)||author_name(config) %>
		</div>
	</div>
</body>

</html>