<body class="no-sidebar">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="<%- page.url %>"><%- config.title %></a></h1>
				<span><%- page.title %> <%- page.webtitle %> by <%- author_name(page)||author_name(config) %></span>
			</div>

			<%- include('partial/nav') %>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="12u skel-cell-important">
					<section>
						<header>
							<h2><%- page.title %></h2>
							<span class="byline"><%- excerpt(page) %></span>
						</header>
						<!--
							<a href="#" class="image full"><img src="<%- thumbnail(page) %>" alt="<%- page.title %>" /></a>
							-->

						<%- page.content %>
					</section>
				</div>

			</div>
		</div>
	</div>

	<%- include('partial/footer') %>

	<%- include('partial/script') %>
</body>