<!DOCTYPE html>
<html lang="en">
	<%- partial("partials/head.ejs") %>
	<body>
		<div id="page-top"><%- partial("partials/navbar.ejs") %></div>

		<div id="page-content"><%- body %></div>

		<%- partial("partials/custom_search/custom_search_modal.ejs") %> <% if
		(page.layout !== "post") { %> <%- partial("partials/footer.ejs") %> <% } %>
		<%- partial("partials/scripts.ejs") %>
	</body>
</html>
