<%- contentFor('body') %>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th>URL</th>
            <th>Direct visit</th>
            <th>Translate render</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i] %></td>
                <td><a href="<%= data[i] %>" target="_blank"><i class="fas fa-external-link"></i></a></td>
                <td><a href="/translate?url=<%= encodeURIComponent(data[i]) %>"><%= data[i] %></a></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
