<div class="modal fade" id="page-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Post details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
            </div>
            <div class="modal-body">
                <p id="tags"><span class="page-info-badge badge badge-secondary">Tags:</span>
                    <% if (page.tags && page.tags.length) { %>
                    <%- list_tags(page.tags, {
                        show_count: false,
                        class: "page-tag",
                        style: "none",
                        seperator: ","
                    }) %>
                    <% } %>
                </p>
                <p id="categories"><span class="page-info-badge badge badge-secondary">Categories:</span>
                    <% if (page.categories && page.categories.length) { %>
                    <%- list_categories(page.categories, {
                        show_count: false,
                        class: "page-category",
                        style: "none",
                        seperator: ","
                    }) %>
                    <% } %>
                </p>
                <p><span class="page-info-badge badge badge-secondary">Date published:</span><%= date(page.date, config.date_format) %></p>
                <p><span class="page-info-badge badge badge-secondary">Permalink:</span><a href="<%- page.permalink %>"><%- page.permalink %></a></p>
                <p><%- partial("partials/extra_post_info.ejs") %></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>