<!-- Footer -->
<div id="featured">
  <div class="container">
    <div class="row">
      <% theme.featured.forEach(featured => { %>
      <div class="4u">
        <h2><%- featured.title %></h2>
        <a href="<%- featured.url %>" class="image full"><img src="<%- featured.img %>"
            alt="<%- featured.title %>" /></a>
        <p><%- featured.title %>. <%- featured.excerpt %></p>
        <p><a href="<%- featured.url %>" class="button">More Details</a></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<% if (page.type == 'post' || page.type == 'page') { %>
<!-- Comment -->
<div id="comment">
  <div class="container">
    <div id="disqus_thread" class="disqus"></div>
    <%- include('disqus') %>
  </div>
</div>
<% } %>

<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="4u">
        <section>
          <h2 title="latest post by updated">Latest Posts</h2>
          <ul class="default">
            <% getLatestPosts('updated', 5).forEach(post => { %>
            <li><a href="<%- post.url %>" title="<%- post.title %>"><%- post.title %></a></li>
            <% }) %>
          </ul>
        </section>
      </div>
      <div class="4u">
        <section>
          <h2>Random Posts</h2>
          <ul class="default">
            <% getRandomPosts(5, 'center-'+page.title).forEach(post => { %>
            <li><a href="<%- post.url %>" title="<%- post.title %>"><%- post.title %></a></li>
            <% }) %>
          </ul>
        </section>
      </div>
      <div class="4u">
        <section>
          <h2>Random Posts</h2>
          <ul class="default">
            <% getRandomPosts(5, 'right-'+page.title).forEach(post => { %>
            <li><a href="<%- post.url %>" title="<%- post.title %>"><%- post.title %></a></li>
            <% }) %>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Copyright -->
<div id="copyright">
  <div class="container">
    <%- config.title %> © <%- date_format(new Date(), 'YYYY') %> <%- author_name(page)||author_name(config) %>
  </div>
</div>